.chat-head-item{
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
    padding: 0.5vh;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(66, 65, 65);
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-profile-pic-text{
    font-size: 20px;
    text-transform: capitalize;
}

.chat-head-item:hover{
    background-color: rgb(16, 123, 230);
}

.username{
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width:480px){
    .username{
        text-overflow: unset;
        overflow-x: auto;
    }
}

.user-profile-pic{
    width: 25px;
    height: 25px;
    background-color: #ccc;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 1vh;
    padding: 0.5vh;
    
}