.chat-screen{
    display: flex;
    width: 100%;
    height: 90vh;
}

.half-screen{
    width: 100%;
    border: 1px solid #ccc;
}

.chat-heads{
    width: 20%;
    background-color:rgb(66, 65, 65);
    border: 1px solid #ccc;
    color: white;
    overflow: auto;
}

@media only screen and (max-width:480px){
    .chat-heads{
        min-width: 200px;
    }
    .conversation{
        min-width:1050px;
    }
}

